body {
    width: 960px;
    margin: auto !important;
}

#who-is-red-john {
    text-align: center;
}

.stat {
    color: #941100;
}

.stat.big {
    font-size: 32px;
}

.dead-stamp {
    position: absolute;
    width: 245px;
    background-color: #941100;
    color: #FFF;
    margin-top: 118px;
    margin-left: -48px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    opacity: 0.7;

    /* Rounding corners */
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    /* Rotating the div */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.faded {
    opacity: 0.7 !important;
}

.mentions {
    max-width: 120px;
    cursor: pointer;
}

.popover {
    width: 276px;
}

.tweet {
    margin-bottom: 5px;
}

.user {
    font-weight: bold;
}

.text {
    font-style: italic;
}

.popover-title {
    font-weight: bold !important;
}

#bar-chart {
    height: 230px;
}

.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#footer {
    display: none;
    margin-top: 25px;
    padding-bottom: 25px;
}

#footer a {
    color: #941100;
}